* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #000;
    padding: 0 8.5%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}

.name-header {
    margin-left: 20px;
    font-size: 250%;
    font-weight: bolder;
    font-style: italic;
    color: aqua;
}

.name-header:hover {
    cursor: pointer;
    background: darkblue;
    box-shadow: 0 0 5px darkblue, 0 0 20px darkblue, 0 0 60px darkblue;
    border-radius: 5px;
}

.menu-icon {
    width: 120px;
    cursor: pointer;
}

nav {
    background-color: darkblue;
    box-shadow: 0 0 10px darkblue, 0 0 60px darkblue, 0 0 120px darkblue;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
    ;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #0e43d4;
    color: #019149;
    background-color: yellowgreen;
    padding: 10px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    cursor: pointer;
    background: #ffc000;
    box-shadow: 0 0 5px #ffc000, 0 0 20px #ffc000, 0 0 60px #ffc000;
}

.text-box {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
}

.text-box h1 {
    font-size: 75px;
    line-height: 160px;
}

.text-box a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    color: #fff724;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .btn {
    background: #03649c;
    color: rgb(14, 202, 14);
    margin: 30px;
    font-weight: 600;
}

.text-box .btn2 {
    background: #ffc000;
    color: rgb(13, 30, 128);
    margin: 30px;
    font-weight: 600;
}

.text-box .btn2:hover {
    cursor: pointer;
    background: #ffc000;
    box-shadow: 0 0 5px #ffc000, 0 0 20px #ffc000, 0 0 60px #ffc000;
    transition: 0.4s;
}

.text-box .btn:hover {
    cursor: pointer;
    background: #03649c;
    box-shadow: 0 0 5px #03649c, 0 0 20px #03649c, 0 0 60px #03649c;
    transition: 0.4s;
}

.user-img {
    width: 540px;
    position: absolute;
    right: 8%;
    bottom: 0%;
    box-shadow: 0 0 5px aqua, 0 0 20px aqua, 0 0 60px aqua;
}

.user-img:hover {
    cursor: pointer;
    background: #ffc000;
    box-shadow: 0 0 5px #ffc000, 0 0 20px #ffc000, 0 0 60px #ffc000;
    transition: 0.8s;
}